.maincont {
  display: flex;
  padding-top: 60px;
  width: 100%;
}
.hiddendiv {
  display: none;
}
.leftcont {
  width: 250px;
}
.rightcont {
  /* calculate 250px - balance for rightdiv */
  width: calc(100% - 250px);
}
.hiddenMenuBtn {
  display: none;
}
@media (max-width: 1000px) {
  .leftcont {
    display: none;
  }
  .hiddendiv {
    display: block;
    width: 200px;
    background-color: white;
  }
  .rightcont {
    width: 100%;
  }
  .hiddenMenuBtn {
    display: flex;
  }
}
